<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content class="example-container">
        <form [formGroup]='regForm' class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Store Name</mat-label>
              <input type="text" placeholder="store name" matInput formControlName="shopName" required>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Store Summary</mat-label>
              <textarea matInput placeholder="A brief summary of the store..."></textarea>
            </mat-form-field>
          </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="submit()">Submit</button>
    <!-- <button mat-button color="accent" (click)="submit()">Accent</button> -->
    <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
</mat-dialog-actions>