<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content class="example-container">
  
    <form [formGroup]='regForm'>

        <div class="store-details">
            <p>Store Name</p>
            <mat-form-field>
                <mat-label></mat-label>
                <input type="text" placeholder="store name" matInput formControlName="shopName" required>
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>Select Product Category</mat-label>
                <mat-select formControlName="productCategory" required>
                  <mat-option value="Electronics">Electronics</mat-option>
                  <mat-option value="Computer Peripherals">Computer Peripherals</mat-option>
                  <mat-option value="Mobiles">Mobiles</mat-option>
                  <mat-option value="Gadgets">Gadgets</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>

        <!-- <div class="name">
            <p>Owner Name</p>
            <mat-form-field>
              <mat-label>FirstName</mat-label>
              <input type="text" matInput formControlName="firstName" required>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>LastName</mat-label>
                <input type="text" matInput formControlName="lastName" required>
            </mat-form-field>
        </div> -->
 
        <!-- <div>
            <p>Select opening and closing time</p>
            <mat-form-field>
                <mat-label>Opening Time</mat-label>
                <mat-select formControlName="openTime">
                  <mat-option value="09">09</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="11">11</mat-option>
                  <mat-option value="12">12</mat-option>
                  <mat-option value="21">21</mat-option>
                  <mat-option value="22">22</mat-option>
                  <mat-option value="22">23</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Closing Time</mat-label>
                <mat-select formControlName="closeTime">
                  <mat-option value="18">18</mat-option>
                  <mat-option value="19">19</mat-option>
                  <mat-option value="20">20</mat-option>
                  <mat-option value="21">21</mat-option>
                  <mat-option value="06">06</mat-option>
                  <mat-option value="07">07</mat-option>
                  <mat-option value="08">08</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

  </form>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="submit()">START STORE</button>
    <!-- <button mat-button color="accent" (click)="submit()">Accent</button> -->
    <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
</mat-dialog-actions>