.products-container{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.products{
    width: 400px;
    height: 400px;
    /* border: 1px solid red; */
}   
.card{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* .btn-warning{
    margin-left: 60em;
} */

.heading{
    width: 40%;
}

.open-shop{
    width: 40%;
    float: right;
}

.product-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-size:cover; /* Scale the background image to cover the entire container */
    margin: auto;
  }
  
  