.product-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-size:cover; /* Scale the background image to cover the entire container */
    margin: auto;
  }

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .card{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.mat-raised-button{
    margin: auto;
  }

  .product-card{
    width: 400px;
    margin-top: 1em;
    margin-left: 5em;
  }

  .section{
    width: 48%;
  }

  .details-card p{
    font-size: 20px !important;
  }

  .checkout-button{
    font-size: 20px;
  }

  .details-title{
    font-size: 30px;
  }