<div class="row" style="display: flex; flex-direction: row; justify-content: space-around;">
    <div class="section col-md-6">
        <mat-card>
            <mat-card class="payment-options">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Payment Options</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>Select a payment method:</h1>
                    <h2>Net-banking</h2>
                </mat-card-content>
                <mat-card-actions>
                    <button class="payment-button" mat-raised-button color="primary">PAY</button>
                </mat-card-actions>
            </mat-card>
        </mat-card>
    </div>
    <div class="section col-md-6">
        <mat-card class="address-details">
            <mat-card-header>
                <mat-card-title class="details-title">Address Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button class="checkout-button" mat-raised-button color="primary">Update</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>