.example-spacer {
    flex: 1 1 auto;
  }

  .name{
    color: rgb(0, 180, 111);
  }
  
  .shop-name{
    margin-left: 500px;
  }

  .starter-card{
    margin: auto; 
    margin-top: 50px; 
    width: 80%;
  }

  .dash-card{
    margin-top: 50px; 
    width: 45%;
  }

  .dash-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  table {
    width: 100%;
  }
  
  .table-container{
    margin-top: 20px;
  }

  
  .dashboard-table{
    padding-left: 20px;
  }