<mat-toolbar>

    <span class="shop-name">Dashboard</span>
    <span class="example-spacer"></span>
    <span>welcome <span class="name">{{user.name}}</span></span>
  </mat-toolbar>
    <mat-card *ngIf="!storeCreated" class="starter-card">
      <mat-card-content>
            <h1>Start a store</h1>
            <p>Create your own shop.</p>
      </mat-card-content>
      <div class="open-shop col-md-2">
        <button mat-raised-button color="warn" (click)="newShopDialog()">OPEN SHOP</button>
      </div>
    </mat-card>
    <mat-card *ngIf="!storeCreated" class="starter-card">
      <mat-card-content>
            <h1>Buy things</h1>
            <p>Continue as a buyer.</p>
      </mat-card-content>
      <div class="open-shop col-md-2">
        <button mat-raised-button color="warn" (click)="newShopDialog()">CONTINUE AS BUYER</button>
      </div>
    </mat-card>
    <div *ngIf="storeCreated" class="col-md-12 dash-container">
      <mat-card class="dash-card">
        <mat-card-content>
              <h1>Orders</h1>
        </mat-card-content>
      </mat-card>
      <mat-card class="dash-card">
        <mat-card-content>
          <button mat-raised-button color="warn" (click)="addNewProduct()" >ADD A PRODUCT</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="storeCreated" class="table-container">
      <div class="dashboard-table">
        <h4>{{tableHeaderName}}</h4>
      </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
        
        
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-mini-fab color="warn" (click)="deleteProductById(element.id)" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button> 
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>edit</mat-icon>
              </button> 
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
    </div>




