<mat-toolbar>

    <span class="shop-name">Dashboard</span>
    <span class="example-spacer"></span>
    <span>welcome <span class="name">{{user.name}}</span></span>
  </mat-toolbar>
    <mat-card *ngIf="!storeCreated" class="starter-card">
      <mat-card-content>
            <h1>Start a store</h1>
            <p>Create your own shop.</p>
      </mat-card-content>
      <div class="open-shop col-md-2">
        <button mat-raised-button color="warn" (click)="newShopDialog()">OPEN SHOP</button>
      </div>
    </mat-card>
    <mat-card *ngIf="!storeCreated" class="starter-card">
      <mat-card-content>
            <h1>Buy things</h1>
            <p>Continue as a buyer.</p>
      </mat-card-content>
      <div class="open-shop col-md-2">
        <button mat-raised-button color="warn" (click)="newShopDialog()">CONTINUE AS BUYER</button>
      </div>
    </mat-card>
    <div class="col-md-12 dash-container">
      <mat-card *ngIf="storeCreated" class="dash-card">
        <mat-card-content>
              <h1>Orders</h1>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="storeCreated" class="dash-card">
        <mat-card-content>
              <h1>Store Manager</h1>
        </mat-card-content>
      </mat-card>
    </div>


