.product-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-size:cover; /* Scale the background image to cover the entire container */
    margin: auto;
  }

  